/.bundle
/.byebug_history
/.env
/.yarn-integrity
/config/master.key
/log/*
!/log/.keep
/node_modules
/node_modules
/public/assets
/public/packs
/public/packs-test
/slide.tgz
/tmp/*
!/tmp/.keep
/yarn-debug.log*
/yarn-error.log

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
